@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 p-0 text-gray-800;

  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.grid {
  display: grid;
}

.grid-template-main {
  grid-template-columns: 20px 1fr minmax(300px, 800px) 1fr 20px;
}

.grid-column-main {
  grid-column: 3 / 4;
}
